@model doancnpm.Models.SANPHAM

<!DOCTYPE html>
<html>

<body>
    <!--content-->
    <!---->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class=" rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Danh mục</h3>
                    </div>
                    <ul class="menu">
                        <li class="item1">
                            <a href="#">Áo </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="single.html">Áo thun </a></li>
                                <li class="subitem2"><a href="single.html">Áo khoác </a></li>
                                <li class="subitem3"><a href="single.html">Áo sơmi </a></li>
                            </ul>
                        </li>
                        <li class="item2">
                            <a href="#">Quần </a>
                            <ul class="cute">
                                <li class="subitem1"><a href="single.html">Quần jean</a></li>
                                <li class="subitem2"><a href="single.html">Quần short </a></li>
                                <li class="subitem3"><a href="single.html">Quần kaki </a></li>
                            </ul>
                        </li>
                        <li class="item3">
                            <a href="#">Ba-lô</a>
                            <ul class="cute">
                                <li class="subitem1"><a href="single.html">Túi xách </a></li>
                                <li class="subitem2"><a href="single.html">Balo thể thao </a></li>
                                <li class="subitem3"><a href="single.html">Cặp xách</a></li>
                            </ul>
                        </li>
                        <li class="item4">
                            <a href="#">Giày</a>
                            <ul class="cute">
                                <li class="subitem1"><a href="single.html">Sneaker </a></li>
                                <li class="subitem2"><a href="single.html">Giày cao gót </a></li>
                                <li class="subitem3"><a href="single.html">Dép</a></li>
                            </ul>
                        </li>

                        <li class="item4">
                            <a href="#">Phụ kiện</a>
                            <ul class="cute">
                                <li class="subitem1"><a href="product.html">Phụ kiện nam </a></li>
                                <li class="subitem2"><a href="product.html">Phụ kiện nữ </a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                               menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                <!---->
                <div class="product-middle">

                    <div class="fit-top">
                        <h6 class="shop-top">Lorem Ipsum</h6>
                        <a href="#" class="shop-now">SHOP NOW</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="sellers">
                    <div class="of-left-in">
                        <h3 class="tag">Tags</h3>
                    </div>
                    <div class="tags">
                        <ul>
                            <li><a href="#">design</a></li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">dress</a></li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">dress</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">dress</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">fashion</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">dress</a></li>

                            <div class="clearfix"> </div>
                        </ul>

                    </div>

                </div>

                <!---->
                <div class="product-bottom">
                    <div class="of-left-in">
                        <h3 class="best">Bán chạy</h3>
                    </div>
                    @Html.Action("PartialViewSPBanchay", "Home")






                </div>
                <div class=" per1">
                    <a href="single.html">
                        <img class="img-responsive" src="~/Content/Images/pro.jpg" alt="">
                        <div class="six1">
                            <h4>GIẢM GIÁ</h4>
                            <p>LÊN ĐẾN</p>
                            <span>60%</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-9 product-price1">
                <div class="col-md-5 single-top">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="~/Content/Images/hinhsanpham/@Model.HINHANH">
                                <img src="~/Content/Images/hinhsanpham/@Model.HINHANH" />
                            </li>
                        </ul>
                    </div>
                    <!-- FlexSlider -->
                    <script defer src="~/Scripts/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                </div>
                <div class="col-md-7 single-top-in simpleCart_shelfItem">
                    <div class="single-para ">
                        <h4>@Model.TENSP</h4>
                        <div class="star-on">
                            <ul class="star-footer">
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                            </ul>
                            <div class="review">
                                <a href="#"> 1 Bình luận </a>

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                        <h5 class="item_price">@Model.GIABAN VNĐ</h5>
                        <p>
                            @Model.MOTA
                        </p>
                        <div class="available">
                            <ul>
                                <li>
                                    Màu<select>
                                        <option>Xanh</option>
                                        <option>Đen</option>
                                        <option>Trắng</option>
                                        <option>Red</option>
                                    </select>
                                </li>
                                <li class="size-in">
                                    Size<select>
                                        <option>S</option>
                                        <option>L</option>
                                        <option>M</option>
                                        <option>XL</option>
                                        <option>XXL</option>
                                    </select>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <a href="@Url.Action("Themgiohang","Checkout",new {@Masp= @Model.MASP,@strURL=Request.Url.ToString()})" class="add-cart item_add">THÊM VÀO GIỎ</a>




                    </div>
                </div>
                <div class="clearfix"> </div>
                <!---->
                <div class="cd-tabs">
                    <nav>
                        <ul class="cd-tabs-navigation">
                            <li><a data-content="fashion" href="#0">Miêu tả </a></li>
                            <li><a data-content="cinema" href="#0">Thêm thông tin</a></li>
                            <li><a data-content="television" href="#0" class="selected ">Bình luận (1)</a></li>

                        </ul>
                    </nav>
                    <ul class="cd-tabs-content">
                        <li data-content="fashion">
                            <div class="facts">
                                <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
                                <ul>
                                    <li>Research</li>
                                    <li>Design and Development</li>
                                    <li>Porting and Optimization</li>
                                    <li>System integration</li>
                                    <li>Verification, Validation and Testing</li>
                                    <li>Maintenance and Support</li>
                                </ul>
                            </div>

                        </li>
                        <li data-content="cinema">
                            <div class="facts1">

                                <div class="color">
                                    <p>Color</p>
                                    <span>Blue, Black, Red</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="color">
                                    <p>Size</p>
                                    <span>S, M, L, XL</span>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </li>
                        <li data-content="television" class="selected">
                            <div class="comments-top-top">
                                <div class="top-comment-left">
                                    <img class="img-responsive" src="~/Content/Images/co.png" alt="">
                                </div>
                                <div class="top-comment-right">
                                    <h6><a href="#">Chồn</a> - Tháng 7, 2016</h6>
                                    <ul class="star-footer">
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                    </ul>
                                    <p>Đẹp quá!!!</p>
                                </div>
                                <div class="clearfix"> </div>
                                <a class="add-re" href="#">THÊM BÌNH LUẬN</a>
                            </div>

                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                @Html.Action("PartialViewSPlienquan", "Home")

            </div>

            <div class="clearfix"> </div>
        </div>
    </div>

</body>
</html>
			